
.addNewCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    min-height: 188px;
    border: 1px solid #ebebec;
    border-radius: 15px;
    background: white;
    margin: 65px auto 12px auto;
    padding: 10px;
    flex-shrink: 0;
}

.editCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    min-height: 188px;
    border: 1px solid #ebebec;
    border-radius: 15px;
    background: white;
    margin: 12px auto;
    padding: 10px;
    flex-shrink: 0;
}

.inputContainer {
    width: 100%;
    margin: 30px 0 0 0;
}

form {
    width: 90%;
}

.input {
    border: 1px solid #ebebec;
    height: 36px;
    padding: 8px;
    width: 100%;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
    resize: none;
    overflow-y: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 35px;
    gap: 7px;
}

button {
    display: flex;
    width: 110px;
    height: auto;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 22px;
    letter-spacing: 0;
}

.cancelButton {
    background: white;
    color: black;
    border: none;
}

.nextButton {
    background: #161616;
    color: white;
    border: none;
}

.textAndButtonContainer {
    display: flex;
    width: 100%;
    margin: 10px 0 10px 25px;
    position: relative;
}

.caption {
    display: flex;
    min-height: 20px;
    flex-direction: column;
    width: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
    top: 30px;
    left: -10px;
}

.icon {
    display: flex;
    position: absolute;
    top: -20px;
    right: 5px;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}



