.layout {
  max-width: 375px;
  height: 755px;
  margin: 1% auto;
  background: #f1f2f3;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 1px;
  background-color: #f1f1f1;
}