.header {
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  min-width: 200px;
  max-width: 375px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  margin: auto 10px auto 20px;
  height: 32px;
  width: 29px;
}

.buttonContainer {
  display: flex;
  padding: 8px 12px 8px 12px;
  gap: 4px;
}

.addButton {
  background: transparent;
  border: none;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}