.header {
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.header img {
  margin: auto 5px auto 40px;
  height: 32px;
  width: 29px;
}

.buttonContainer {
  padding: 8px 12px 8px 12px;
  gap: 4px;
}


